main {
  border-radius: 5px;
}


.ShopName{
    color: white;
}
#fashion-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  align-items: center;
  gap: 1rem;
  background-color: maroon;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

/* Image  */
/* Default styles for the image */
.image {
  width: 100%; /* Set the image width to fill its container */
  height: auto; /* Automatically adjust the height based on the aspect ratio */
}

/* Media query for screens with a maximum width of 600px */
@media (max-width: 600px) {
  .image {
    /* Adjust the styles for smaller screens */
    width: 100%; /* Set the image width to fill its container */
    height: auto; /* Automatically adjust the height based on the aspect ratio */
  }
}

/* Media query for screens with a maximum width of 1200px */
@media (max-width: 1200px) {
  .image {
    /* Adjust the styles for medium-sized screens */
    width: 50%; /* Set the image width to occupy 50% of its container */
    height: auto; /* Automatically adjust the height based on the aspect ratio */
  }
}

/* Media query for screens with a minimum width of 1201px */
@media (min-width: 1201px) {
  .image {
    /* Adjust the styles for larger screens */
    width: 30%; /* Set the image width to occupy 30% of its container */
    height: auto; /* Automatically adjust the height based on the aspect ratio */
  }
}


.product {
  width: 130px;
  height: 220px;
  padding: 20px;
  background-color: #fff;
  border: 2px solid brown;
  border-radius: 6px;
  text-align: center;
}

.image {
  width: 120px;
  height: 120px;
  border: 2px solid brown;
  border-radius: 6px;
}

.add-to-cart{
  background-color: brown;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 5px;
  font-size: x-small;
}

.myBtn{
  margin-right: 4%;
  float: right;
  background-color: brown;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 10px; /* Add this line to create space between the title and button */
  font-size: medium;
}
  .caption {
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .producttitle {
    font-size: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .product img {
    width: 100px;
    height: 100px;
    border-radius: 6px;
  }

  .productPrice {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    color: black;
    margin-bottom: 5px;
  }

  @media (max-width: 1250px) {
    .fashion-container {
        flex-direction: column;
	    height:100%
    }
  }

/* Media queries for responsive design */

@media screen and (max-width: 600px) {
  .product-card {
    max-width: 100%;
    margin-right: 5px;
  }
}

@media screen and (max-width: 400px) {
  .product-card {
    max-width: 100%;
    margin-right: 0;
  }
}

/* END OF PRODUCT */
  
  /* FOOTER */
.footer{
 text-align: center;
}
.subfooter{
  color:white
}
a{
  color: white;
}
footer{
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: maroon;
  color: white;
}

/* PROCEED BUTTOB */
#proceedButton{
  margin-top: 2%;
  margin-right: 4%;
  float: right;
  background-color: brown;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 10px; /* Add this line to create space between the title and button */
  font-size: medium;
  }